<div *ngIf="classArr.length === 48">
    <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
        width="193.000000pt" height="261.000000pt" viewBox="0 0 193.000000 261.000000"
        preserveAspectRatio="xMidYMid meet">
        <g transform="translate(0.000000,261.000000) scale(0.100000,-0.100000)"
            fill="black" stroke="black">
            <path fill="lightgrey" d="M600 900 600 500 1900 500 1900 900 600 900"></path>
            <path fill="grey" d="M600 900 400 1600 400 1000 600 500"></path>
            <path fill="none" d="M400 1600 1600 1600 1900 900 600 900 400 1600"></path>
            <!-- <path id="stands" d="M400 500 400 1600 600 1200 1600 1200 1400 1600 400 1600 1400 1600 1600 1200 1600 500 400 500"></path> -->
            <circle [ngClass]="remainingGuesses > 0 ? classArr[0].color : classArr[0].color + classArr[0].cheer" cx="500" cy="1540" r="50"></circle>
            <circle [ngClass]="remainingGuesses > 0 ? classArr[1].color : classArr[1].color + classArr[1].cheer" cx="650" cy="1540" r="50"></circle>
            <circle [ngClass]="remainingGuesses > 0 ? classArr[2].color : classArr[2].color + classArr[2].cheer" cx="800" cy="1540" r="50"></circle>
            <circle [ngClass]="remainingGuesses > 0 ? classArr[3].color : classArr[3].color + classArr[3].cheer" cx="950" cy="1540" r="50"></circle>
            <circle [ngClass]="remainingGuesses > 0 ? classArr[4].color : classArr[4].color + classArr[4].cheer" cx="1100" cy="1540" r="50"></circle>
            <circle [ngClass]="remainingGuesses > 0 ? classArr[5].color : classArr[5].color + classArr[5].cheer" cx="1250" cy="1540" r="50"></circle>
            <circle [ngClass]="remainingGuesses > 0 ? classArr[6].color : classArr[6].color + classArr[6].cheer" cx="1400" cy="1540" r="50"></circle>
            <circle [ngClass]="remainingGuesses > 0 ? classArr[7].color : classArr[7].color + classArr[7].cheer" cx="1550" cy="1540" r="50"></circle>
            
            <circle [ngClass]="remainingGuesses > 0 ? classArr[8].color : classArr[8].color + classArr[8].cheer" cx="540" cy="1420" r="50"></circle>
            <circle [ngClass]="remainingGuesses > 0 ? classArr[9].color : classArr[9].color + classArr[9].cheer" cx="690" cy="1420" r="50"></circle>
            <circle [ngClass]="remainingGuesses > 0 ? classArr[10].color : classArr[10].color + classArr[10].cheer" cx="840" cy="1420" r="50"></circle>
            <circle [ngClass]="remainingGuesses > 0 ? classArr[11].color : classArr[11].color + classArr[11].cheer" cx="990" cy="1420" r="50"></circle>
            <circle [ngClass]="remainingGuesses > 0 ? classArr[12].color : classArr[12].color + classArr[12].cheer" cx="1140" cy="1420" r="50"></circle>
            <circle [ngClass]="remainingGuesses > 0 ? classArr[13].color : classArr[13].color + classArr[13].cheer" cx="1290" cy="1420" r="50"></circle>
            <circle [ngClass]="remainingGuesses > 0 ? classArr[14].color : classArr[14].color + classArr[14].cheer" cx="1440" cy="1420" r="50"></circle>
            <circle [ngClass]="remainingGuesses > 0 ? classArr[15].color : classArr[15].color + classArr[15].cheer" cx="1590" cy="1420" r="50"></circle>

            <circle [ngClass]="remainingGuesses > 0 ? classArr[16].color : classArr[16].color + classArr[16].cheer" cx="580" cy="1300" r="50"></circle>
            <circle [ngClass]="remainingGuesses > 0 ? classArr[17].color : classArr[17].color + classArr[17].cheer" cx="730" cy="1300" r="50"></circle>
            <circle [ngClass]="remainingGuesses > 0 ? classArr[18].color : classArr[18].color + classArr[18].cheer" cx="880" cy="1300" r="50"></circle>
            <circle [ngClass]="remainingGuesses > 0 ? classArr[19].color : classArr[19].color + classArr[19].cheer" cx="1030" cy="1300" r="50"></circle>
            <circle [ngClass]="remainingGuesses > 0 ? classArr[20].color : classArr[20].color + classArr[20].cheer" cx="1180" cy="1300" r="50"></circle>
            <circle [ngClass]="remainingGuesses > 0 ? classArr[21].color : classArr[21].color + classArr[21].cheer" cx="1330" cy="1300" r="50"></circle>
            <circle [ngClass]="remainingGuesses > 0 ? classArr[22].color : classArr[22].color + classArr[22].cheer" cx="1480" cy="1300" r="50"></circle>
            <circle [ngClass]="remainingGuesses > 0 ? classArr[23].color : classArr[23].color + classArr[23].cheer" cx="1630" cy="1300" r="50"></circle>

            <circle [ngClass]="remainingGuesses > 0 ? classArr[24].color : classArr[24].color + classArr[24].cheer" cx="620" cy="1180" r="50"></circle>
            <circle [ngClass]="remainingGuesses > 0 ? classArr[25].color : classArr[25].color + classArr[25].cheer" cx="770" cy="1180" r="50"></circle>
            <circle [ngClass]="remainingGuesses > 0 ? classArr[26].color : classArr[26].color + classArr[26].cheer" cx="920" cy="1180" r="50"></circle>
            <circle [ngClass]="remainingGuesses > 0 ? classArr[27].color : classArr[27].color + classArr[27].cheer" cx="1070" cy="1180" r="50"></circle>
            <circle [ngClass]="remainingGuesses > 0 ? classArr[28].color : classArr[28].color + classArr[28].cheer" cx="1220" cy="1180" r="50"></circle>
            <circle [ngClass]="remainingGuesses > 0 ? classArr[29].color : classArr[29].color + classArr[29].cheer" cx="1370" cy="1180" r="50"></circle>
            <circle [ngClass]="remainingGuesses > 0 ? classArr[30].color : classArr[30].color + classArr[30].cheer" cx="1520" cy="1180" r="50"></circle>
            <circle [ngClass]="remainingGuesses > 0 ? classArr[31].color : classArr[31].color + classArr[31].cheer" cx="1670" cy="1180" r="50"></circle>

            <circle [ngClass]="remainingGuesses > 0 ? classArr[32].color : classArr[32].color + classArr[32].cheer" cx="660" cy="1060" r="50"></circle>
            <circle [ngClass]="remainingGuesses > 0 ? classArr[33].color : classArr[33].color + classArr[33].cheer" cx="810" cy="1060" r="50"></circle>
            <circle [ngClass]="remainingGuesses > 0 ? classArr[34].color : classArr[34].color + classArr[34].cheer" cx="960" cy="1060" r="50"></circle>
            <circle [ngClass]="remainingGuesses > 0 ? classArr[35].color : classArr[35].color + classArr[35].cheer" cx="1110" cy="1060" r="50"></circle>
            <circle [ngClass]="remainingGuesses > 0 ? classArr[36].color : classArr[36].color + classArr[36].cheer" cx="1260" cy="1060" r="50"></circle>
            <circle [ngClass]="remainingGuesses > 0 ? classArr[37].color : classArr[37].color + classArr[37].cheer" cx="1410" cy="1060" r="50"></circle>
            <circle [ngClass]="remainingGuesses > 0 ? classArr[38].color : classArr[38].color + classArr[38].cheer" cx="1560" cy="1060" r="50"></circle>
            <circle [ngClass]="remainingGuesses > 0 ? classArr[39].color : classArr[39].color + classArr[39].cheer" cx="1710" cy="1060" r="50"></circle>

            <circle [ngClass]="remainingGuesses > 0 ? classArr[40].color : classArr[40].color + classArr[40].cheer" cx="700" cy="940" r="50"></circle>
            <circle [ngClass]="remainingGuesses > 0 ? classArr[41].color : classArr[41].color + classArr[41].cheer" cx="850" cy="940" r="50"></circle>
            <circle [ngClass]="remainingGuesses > 0 ? classArr[42].color : classArr[42].color + classArr[42].cheer" cx="1000" cy="940" r="50"></circle>
            <circle [ngClass]="remainingGuesses > 0 ? classArr[43].color : classArr[43].color + classArr[43].cheer" cx="1150" cy="940" r="50"></circle>
            <circle [ngClass]="remainingGuesses > 0 ? classArr[44].color : classArr[44].color + classArr[44].cheer" cx="1300" cy="940" r="50"></circle>
            <circle [ngClass]="remainingGuesses > 0 ? classArr[45].color : classArr[45].color + classArr[45].cheer" cx="1450" cy="940" r="50"></circle>
            <circle [ngClass]="remainingGuesses > 0 ? classArr[46].color : classArr[46].color + classArr[46].cheer" cx="1600" cy="940" r="50"></circle>
            <circle [ngClass]="remainingGuesses > 0 ? classArr[47].color : classArr[47].color + classArr[47].cheer" cx="1750" cy="940" r="50"></circle>
        </g>
    </svg>
</div>
